body {
  margin: 0;
  font-family: Arial;
  background: #0e0e0e;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.section {
  padding: 80px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.05);
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.highlight {
  border: 2px solid white;
}

button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  background: #111;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
}

footer {
  text-align: center;
  padding: 20px;
}
